@font-face {
    font-family: Beleren-Bold;
    src: url("../fonts/Beleren-Bold.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}

h3{
    font-family: Beleren-Bold;
}

h3::after{
    content: '';
	display: block;
	width: 150px;
	height: 2px;
	background-color: black;
	margin: auto;
    margin-top: 5px;
    margin-bottom: 7px;
}

.mtg-card{
    text-align: center;
    padding: 25px 0;
}

.logo{
    width: 60px;
    height: 60px;
    margin: 0 25px;
}

div.ui-dialog-titlebar{
    background-color: #1a1a1a !important;
}